/** {*/
    /*margin: 0px;*/
    /*border: none;*/
    /*padding: 0px;*/
/*}*/

body {
    font-family: Inconsolata;
}

h1 {
    color: #ee3e80;
    font-family: Linux Biolinum;
}

h2, h3 {
    color: #006a9e;
    font-family: Linux Biolinum;
}
